In [66]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [67]:
data = pd.read_csv("worlds2020.csv", delimiter=";")
data.head()

,Team,Wins,Losses,Top,Jungle,Mid,Ad carry,Support,Side,Result
0,FLY,0,0,Volibear,Lillia,Syndra,Jhin,Thresh,Blue,0
1,TOP,0,0,Camille,Graves,Akali,Senna,Sett,Red,1
2,UOL,0,0,Renekton,Evelynn,Orianna,Jhin,Alistar,Blue,0
3,DX,0,0,Ornn,Nidalee,Sett,Ashe,Pantheon,Red,1
4,Rogue,0,0,Malphite,Evelynn,Lucian,Kalista,Rakan,Blue,1

In [68]:
data_2 = pd.read_csv("worlds2020.csv", delimiter=";")
data = data.sample(frac=1).reset_index(drop=True)

In [69]:
data_target = data["Result"].values
data = data.drop(["Result"], axis=1)

In [70]:
data.head(20)

,Team,Wins,Losses,Top,Jungle,Mid,Ad carry,Support,Side
0,TSM,0,4,Volibear,Lillia,Lucian,Aphelios,Thresh,Blue
1,TOP,0,0,Camille,Graves,Akali,Senna,Sett,Red
2,Suning,2,1,Irelia,Graves,Galio,Jhin,Bard,Red
3,PSG,0,1,Ornn,Graves,Syndra,Jhin,Bard,Blue
4,FLY,0,0,Volibear,Lillia,Syndra,Jhin,Thresh,Blue
5,TL,0,4,Malphite,Lillia,Sett,Jhin,Bard,Red
6,DWG,4,0,Kennen,Graves,Twisted Fate,Senna,Leona,Blue
7,JD,2,1,Camille,Sylas,Ekko,Jhin,Senna,Red
8,Suning,0,1,Jax,Nidalee,Galio,Draven,Leona,Red
9,Rogue,1,2,Ornn,Graves,Orianna,Kalista,Pantheon,Blue
10,Suning,1,1,Jax,Nidalee,Syndra,Ezreal,Bard,Blue
11,Suning,3,1,Jayce,Graves,Twisted Fate,Senna,Tahm Kench,Blue
12,PSG,0,4,Ornn,Kindred,Syndra,Caitlyn,Lux,Red
13,DWG,1,0,Lulu,Graves,Sylas,Ashe,Pantheon,Red
14,DWG,0,0,Camille,Nidalee,Twisted Fate,Jhin,Leona,Blue
15,Rogue,0,0,Malphite,Evelynn,Lucian,Kalista,Rakan,Blue
16,TOP,1,0,Renekton,Nidalee,Nocturne,Senna,Tahm Kench,Blue
17,G2,4,1,Renekton,Graves,Ekko,Kalista,Senna,Red
18,LGD,0,1,Ornn,Kindred,Ekko,Miss Fortune,Nautilus,Blue
19,JD,0,1,Sett,Sylas,Ekko,Ashe,Pantheon,Red

In [71]:
le = preprocessing.LabelEncoder()

In [72]:
team = data["Team"].values
top = data["Top"].values
jungle = data["Jungle"].values
mid = data["Mid"].values
adc = data["Ad carry"].values
supp = data["Support"].values
side = data["Side"].values

In [73]:
data["Team"] = le.fit_transform(team)
data["Top"] = le.fit_transform(top)
data["Jungle"] = le.fit_transform(jungle)
data["Mid"] = le.fit_transform(mid)
data["Ad carry"] = le.fit_transform(adc)
data["Support"] = le.fit_transform(supp)
data["Side"] = le.fit_transform(side)

In [74]:
data.head(20)

    Team  Wins  Losses  Top  Jungle  Mid  Ad carry  Support  Side
0     14     0       4   18       7    7         0       14     0
1     13     0       0    0       2    0         9       11     1
2     11     2       1    2       2    3         5        1     1
3      9     0       1   11       2   13         5        1     0
4      2     0       0   18       7   13         5       14     0
5     12     0       4    8       7   11         5        1     1
6      0     4       0    6       2   14         9        5     0
7      6     2       1    0       9    2         5       10     1
8     11     0       1    3       8    3         3        5     1
9     10     1       2   11       2    9         6        8     0
10    11     1       1    3       8   13         4        1     0
11    11     3       1    4       2   14         9       12     0
12     9     0       4   11       5   13         2        6     1
13     0     1       0    7       2   12         1        8     1
14     0     0       0    0       8   14         5        5     0
15    10     0       0    8       0    7         6        9     0
16    13     1       0   13       8    8         9       12     0
17     4     4       1   13       2    2         6       10     1
18     7     0       1   11       5    2         8        7     0
19     6     0       1   14       9    2         1        8     1

In [75]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold

In [76]:
rf = RandomForestClassifier(min_samples_split=2, criterion='entropy', max_depth=50, max_features='auto', n_estimators=250)

In [77]:
from sklearn.model_selection import KFold
X = data
y = data_target
accuracy = []
folds = 10
skf = KFold(n_splits=folds)
skf.get_n_splits(X,y)
i = 1
for train_index, test_index in skf.split(X, y):
    
    print("Fold: ", i)
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    
    #model
    rf.fit(X_train, y_train)
    pred = rf.predict(X_test)
    score = accuracy_score(pred, y_test)
    accuracy.append(score)
    i+=1

for x in range(0,folds):
    print("Fold: ", x+1, " Accuracy: ",  accuracy[x])
    
print("Average accuracy: ", sum(accuracy)/folds)

Fold:  1
Fold:  2
Fold:  3
Fold:  4
Fold:  5
Fold:  6
Fold:  7
Fold:  8
Fold:  9
Fold:  10
Fold:  1  Accuracy:  0.75
Fold:  2  Accuracy:  0.5
Fold:  3  Accuracy:  0.625
Fold:  4  Accuracy:  0.875
Fold:  5  Accuracy:  0.75
Fold:  6  Accuracy:  0.75
Fold:  7  Accuracy:  0.625
Fold:  8  Accuracy:  0.5
Fold:  9  Accuracy:  0.5714285714285714
Fold:  10  Accuracy:  0.5714285714285714
Average accuracy:  0.6517857142857142

In [78]:
#JD
sample = pd.DataFrame({
    "Team" : [7],
    "Wins" : [0],
    "Losses" : [5],
    "Top" : [0],
    "Jungle" : [2],
    "Mid" : [15],
    "Ad carry" : [1],
    "Support" : [9],
    "Side" : [0]
})

#DMW
sample_2 = pd.DataFrame({
    "Team" : [14],
    "Wins" : [0],
    "Losses" : [5],
    "Top" : [0],
    "Jungle" : [2],
    "Mid" : [15],
    "Ad carry" : [1],
    "Support" : [15],
    "Side" : [1]
})
#TSM
sample_3 = pd.DataFrame({
    "Team" : [3],
    "Wins" : [3],
    "Losses" : [1],
    "Top" : [18],
    "Jungle" : [3],
    "Mid" : [9],
    "Ad carry" : [1],
    "Support" : [5],
    "Side" : [0]
})

In [79]:
pred_2 = rf.predict(sample_3)

In [80]:
pred_2[0]

1